<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/estilos.css">
    <script src="js/jquery-3.5.1.slim.min.js"></script>
    <script src="popper.js"></script>
    
    <title>Subida</title>
    <link rel="icon" type="image/png" href="img/favicon.png">
</head>

<body>
    <header>
        <div class="contenedor">
            <a href="index"><img src="img/logo.png" alt=""></a>

            <nav class="navbar navbar-fixed-top navbar-expand-lg navbar-dark">

                <button class="navbar-toggler" data-target="#menu" data-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="menu">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a href="index" class="nav-link">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a href="subirvideos" class="nav-link active">Reserva tu sitio</a>
                        </li>
                        <li class="nav-item">
                            <a href="videos" class="nav-link">Bibliotecas</a>
                        </li>
                        </li>
                        <li class="nav-item">
                            <a href="nosotros" class="nav-link">Sobre Nosotros</a>
                        </li>

                        <% if (user) { %> 
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" role="button" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false" href="perfil"><%- user.nickname %> </a>
                        
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item"  href ="perfil">Mi perfil</a></li>
                                <li><a class="dropdown-item"  href ="logout">Cerrar Sesión</a></li>
            
                            </ul>
                            </li>



                        <% } else { %>
                            <li class="nav-item">
                                <a href="perfil" class="nav-link">	Mi Perfil </a>
                            </li>
                        <% } %>

                    </ul>
                </div>

            </nav>
        </div>
    </header>


    <div class="fondo">
        <div class="contenedor">
            <h2 class="titulo">Reserva tu sitio</h2>
            <h3>Elige el aula y el sitio: <!--- class = "descripcion" -->
            
                <div style="width: 50;">
                    <br>
                    <img src="img/plano.jpg"></div><br>
               

            <div class="col-md-4 my-2">

                <!-- action="/subirvideos"-->
                <form action="https://labtel.ehu.eus/cgi-bin/echo.py" method="post" enctype="multipart/form-data">

                    <select name="tipo" style="width: 175px;">
                        <option value="none">-</option>
                        <option value="Aula1">Aula 1</option>
                        <option value="Aula2">Aula 2</option>
                        <option value="Aula3">Aula 3</option>
                    </select> <br><br>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="puesto1" id="inlineRadio1" value="1">
                        <label class="form-check-label" for="inlineRadio1">1</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="puesto10" id="inlineRadio2" value="10">
                        <label class="form-check-label" for="inlineRadio2">10</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="puesto18" id="inlineRadio1" value="18">
                        <label class="form-check-label" for="inlineRadio1">18</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="puesto26" id="inlineRadio2" value="26">
                        <label class="form-check-label" for="inlineRadio2">26</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="puesto34" id="inlineRadio1" value="34">
                        <label class="form-check-label" for="inlineRadio1">34</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="puesto2" id="inlineRadio1" value="2">
                        <label class="form-check-label" for="inlineRadio1">2</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="puesto11" id="inlineRadio2" value="11">
                        <label class="form-check-label" for="inlineRadio2">11</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="puesto19" id="inlineRadio1" value="19">
                        <label class="form-check-label" for="inlineRadio1">19</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="puesto27" id="inlineRadio2" value="27">
                        <label class="form-check-label" for="inlineRadio2">27</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="puesto35" id="inlineRadio1" value="35">
                        <label class="form-check-label" for="inlineRadio1">35</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="puesto3" id="inlineRadio2" value="3">
                        <label class="form-check-label" for="inlineRadio2">3</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="puesto13" id="inlineRadio1" value="13">
                        <label class="form-check-label" for="inlineRadio1">13</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="puesto18" id="inlineRadio2" value="18">
                        <label class="form-check-label" for="inlineRadio2">18</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="puesto23" id="inlineRadio1" value="23">
                        <label class="form-check-label" for="inlineRadio1">23</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="puesto28" id="inlineRadio2" value="28">
                        <label class="form-check-label" for="inlineRadio2">28</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="puesto4" id="inlineRadio1" value="4">
                        <label class="form-check-label" for="inlineRadio1">4</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="puesto14" id="inlineRadio2" value="14">
                        <label class="form-check-label" for="inlineRadio2">14</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="puesto19" id="inlineRadio1" value="19">
                        <label class="form-check-label" for="inlineRadio1">19</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="puesto24" id="inlineRadio2" value="24">
                        <label class="form-check-label" for="inlineRadio2">24</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="puesto29" id="inlineRadio1" value="29">
                        <label class="form-check-label" for="inlineRadio1">29</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="puesto5" id="inlineRadio1" value="5">
                        <label class="form-check-label" for="inlineRadio1">5</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="puesto15" id="inlineRadio2" value="15">
                        <label class="form-check-label" for="inlineRadio2">15</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="puesto20" id="inlineRadio1" value="20">
                        <label class="form-check-label" for="inlineRadio1">20</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="puesto25" id="inlineRadio2" value="25">
                        <label class="form-check-label" for="inlineRadio2">25</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="puesto30" id="inlineRadio1" value="30">
                        <label class="form-check-label" for="inlineRadio1">30</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="puesto6" id="inlineRadio1" value="6">
                        <label class="form-check-label" for="inlineRadio1">6</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="puesto16" id="inlineRadio2" value="16">
                        <label class="form-check-label" for="inlineRadio2">16</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="puesto21" id="inlineRadio1" value="21">
                        <label class="form-check-label" for="inlineRadio1">21</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="puesto26" id="inlineRadio2" value="26">
                        <label class="form-check-label" for="inlineRadio2">26</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="puesto31" id="inlineRadio1" value="31">
                        <label class="form-check-label" for="inlineRadio1">31</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="puesto7" id="inlineRadio1" value="7">
                        <label class="form-check-label" for="inlineRadio1">7</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="puesto17" id="inlineRadio2" value="17">
                        <label class="form-check-label" for="inlineRadio2">17</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="puesto22" id="inlineRadio1" value="22">
                        <label class="form-check-label" for="inlineRadio1">22</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="puesto27" id="inlineRadio2" value="27">
                        <label class="form-check-label" for="inlineRadio2">27</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="puesto32" id="inlineRadio1" value="32">
                        <label class="form-check-label" for="inlineRadio1">32</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="puesto8" id="inlineRadio1" value="8">
                        <label class="form-check-label" for="inlineRadio1">8</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="puesto18" id="inlineRadio2" value="18">
                        <label class="form-check-label" for="inlineRadio2">18</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="puesto23" id="inlineRadio1" value="23">
                        <label class="form-check-label" for="inlineRadio1">23</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="puesto28" id="inlineRadio2" value="28">
                        <label class="form-check-label" for="inlineRadio2">28</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="puesto33" id="inlineRadio1" value="33">
                        <label class="form-check-label" for="inlineRadio1">33</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="puesto9" id="inlineRadio1" value="9">
                        <label class="form-check-label" for="inlineRadio1">9</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="puesto19" id="inlineRadio2" value="19">
                        <label class="form-check-label" for="inlineRadio2">19</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="puesto24" id="inlineRadio1" value="24">
                        <label class="form-check-label" for="inlineRadio1">24</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="puesto29" id="inlineRadio2" value="29">
                        <label class="form-check-label" for="inlineRadio2">29</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="puesto34" id="inlineRadio1" value="34">
                        <label class="form-check-label" for="inlineRadio1">34</label>
                      </div>
                      
                    <div class="form-group"><br>
                        <button type="submit" class="btn btn-reservar">
                            Reservar
                        </button>
                    </div>
                </form>
            </div>

        </div>
        

</body>


</html>