<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/estilos.css">
    <script src="js/jquery-3.5.1.slim.min.js"></script>
    <script src="popper.js"></script>
    
    <title>Subida</title>
    <link rel="icon" type="image/png" href="img/favicon.png">
</head>

<body>
    <header>
        <div class="contenedor">
            <a href="index"><img src="img/logo.png" alt=""></a>

            <nav class="navbar navbar-fixed-top navbar-expand-lg navbar-dark">

                <button class="navbar-toggler" data-target="#menu" data-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="menu">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a href="index" class="nav-link">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a href="subirvideos" class="nav-link active">Reserva tu sitio</a>
                        </li>
                        <li class="nav-item">
                            <a href="videos" class="nav-link">Bibliotecas</a>
                        </li>
                        </li>
                        <li class="nav-item">
                            <a href="nosotros" class="nav-link">Sobre Nosotros</a>
                        </li>

                        <% if (user) { %> 
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" role="button" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false" href="perfil"><%- user.nickname %> </a>
                        
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item"  href ="perfil">Mi perfil</a></li>
                                <li><a class="dropdown-item"  href ="logout">Cerrar Sesión</a></li>
            
                            </ul>
                            </li>



                        <% } else { %>
                            <li class="nav-item">
                                <a href="perfil" class="nav-link">	Mi Perfil </a>
                            </li>
                        <% } %>

                    </ul>
                </div>

            </nav>
        </div>
    </header>


    <div class="fondo">
        <div class="contenedor">
            <h2 class="titulo">Reserva tu sitio</h2>
            <h3>Elige el aula y el sitio: <!--- class = "descripcion" -->
            
                <div style="width: 50;">
                    <br>
                    <img src="img/plano.jpg"></div><br>
               
                    <form action="https://labtel.ehu.eus/cgi-bin/echo.py" method="post" enctype="multipart/form-data">
                     
                      <select name="aula" style="width: 175px;">
                        <option value="none">-</option>
                        <option value="Aula1">Aula 1</option>
                        <option value="Aula2">Aula 2</option>
                        <option value="Aula3">Aula 3</option>
                      </select> <br><br>

                 <!-- <div class="col-md-4 my-2">  -->
                      <table class="table-dark" style="text-align: center;">
                        <tbody>
                          <tr>
                            <td><input class="form-check-input" type="radio" name="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">1</label></td>
                            <td><input class="form-check-input" type="radio" name="puesto1" id="inlineRadio1" value="2">
                                <label class="boton-res-label"  for="inlineRadio1">2</label></std>
                            <td><input class="form-check-input" type="radio" namsse="puesto1" id="inlineRadio1" value="3">
                                <label class="boton-res-label"  for="inlineRadio1">3</label></td>
                            <td><input class="form-check-input" type="radio" name="puesto1" id="inlineRadio1" value="4">
                                <label class="boton-res-label"  for="inlineRadio1">4</label></td>                                
                            <td><input class="form-check-input" type="radio" name="puesto1" id="inlineRadio1" value="5">
                                <label class="boton-res-label"  for="inlineRadio1">5</label></td>
                            <td><input class="form-check-input" type="radio" name="puesto1" id="inlineRadio1" value="6">
                                <label class="boton-res-label"  for="inlineRadio1">6</label></td>
                            <td><input class="form-check-input" type="radio" names="puesto1" id="inlineRadio1" value="7">
                                <label class="boton-res-label"  for="inlineRadio1">7</label></td>
                            <td><input class="form-check-input" type="radio" name="puesto1" id="inlineRadio1" value="8">
                                <label class="boton-res-label"  for="inlineRadio1">8</label></td>
                            <td><input class="form-check-input" type="radio" name="puesto1" id="inlineRadio1" value="9">
                                <label class="boton-res-label"  for="inlineRadio1">9</label></td>  
                            <td><input class="form-check-input" type="radio" name="puesto1" id="inlineRadio1" value="10">
                                <label class="boton-res-label"  for="inlineRadio1">10</label></td>                                                                 
                          </tr>
                          <tr>
                            <td><input class="form-check-input" type="radio" name="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">11</label></td>
                            <td><input class="form-check-input" type="radio" name="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">12</label></std>
                            <td><input class="form-check-input" type="radio" namsse="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">13</label></td>
                            <td><input class="form-check-input" type="radio" name="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">14</label></td>                                
                            <td><input class="form-check-input" type="radio" name="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">15</label></td>
                            <td><input class="form-check-input" type="radio" name="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">16</label></td>
                            <td><input class="form-check-input" type="radio" names="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">17</label></td>
                            <td><input class="form-check-input" type="radio" name="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">18</label></td>
                            <td><input class="form-check-input" type="radio" name="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">19</label></td>  
                            <td><input class="form-check-input" type="radio" name="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">20</label></td>                                                                  
                          </tr>
                          <tr>
                            <td><input class="form-check-input" type="radio" name="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">21</label></td>
                            <td><input class="form-check-input" type="radio" name="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">22</label></std>
                            <td><input class="form-check-input" type="radio" namsse="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">23</label></td>
                            <td><input class="form-check-input" type="radio" name="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">24</label></td>                                
                            <td><input class="form-check-input" type="radio" name="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">25</label></td>
                            <td><input class="form-check-input" type="radio" name="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">26</label></td>
                            <td><input class="form-check-input" type="radio" names="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">27</label></td>
                            <td><input class="form-check-input" type="radio" name="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">28</label></td>
                            <td><input class="form-check-input" type="radio" name="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">29</label></td>  
                            <td><input class="form-check-input" type="radio" name="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">30</label></td>                                                                  
                          </tr>
                          <tr>
                            <td><input class="form-check-input" type="radio" name="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">31</label></td>
                            <td><input class="form-check-input" type="radio" name="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">32</label></std>
                            <td><input class="form-check-input" type="radio" namsse="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">33</label></td>
                            <td><input class="form-check-input" type="radio" name="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">34</label></td>                                
                            <td><input class="form-check-input" type="radio" name="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">35</label></td>
                            <td><input class="form-check-input" type="radio" name="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">36</label></td>
                            <td><input class="form-check-input" type="radio" names="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">37</label></td>
                            <td><input class="form-check-input" type="radio" name="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">38</label></td>
                            <td><input class="form-check-input" type="radio" name="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">39</label></td>  
                            <td><input class="form-check-input" type="radio" name="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">40</label></td>                                                                  
                          </tr>
                          <tr>
                            <td><input class="form-check-input" type="radio" name="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">41</label></td>
                            <td><input class="form-check-input" type="radio" name="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">42</label></std>
                            <td><input class="form-check-input" type="radio" namsse="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">43</label></td>
                            <td><input class="form-check-input" type="radio" name="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">44</label></td>                                
                            <td><input class="form-check-input" type="radio" name="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">45</label></td>
                            <td><input class="form-check-input" type="radio" name="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">46</label></td>
                            <td><input class="form-check-input" type="radio" names="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">47</label></td>
                            <td><input class="form-check-input" type="radio" name="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">48</label></td>
                            <td><input class="form-check-input" type="radio" name="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">49</label></td>  
                            <td><input class="form-check-input" type="radio" name="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">50</label></td>                                                                  
                          </tr>
                          <tr>
                            <td><input class="form-check-input" type="radio" name="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">51</label></td>
                            <td><input class="form-check-input" type="radio" name="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">52</label></std>
                            <td><input class="form-check-input" type="radio" namsse="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">53</label></td>
                            <td><input class="form-check-input" type="radio" name="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">54</label></td>                                
                            <td><input class="form-check-input" type="radio" name="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">55</label></td>
                            <td><input class="form-check-input" type="radio" name="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">56</label></td>
                            <td><input class="form-check-input" type="radio" names="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">57</label></td>
                            <td><input class="form-check-input" type="radio" name="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">58</label></td>
                            <td><input class="form-check-input" type="radio" name="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">59</label></td>  
                            <td><input class="form-check-input" type="radio" name="puesto1" id="inlineRadio1" value="1">
                                <label class="boton-res-label"  for="inlineRadio1">60</label></td>                                                                  
                          </tr>
                        </tbody>
                      </table>

                    <!-- </div>  -->

                      <div class="form-group"><br>
                        <button type="submit" class="btn btn-reservar">
                            Reservar
                        </button>
                      </div>

                    </form>
            
        </div>
        
</body>


</html>