svg {
	width: 70%;
    background-color: lightblue;
    rotate: 20;
   
}

.sitio28:hover path {
    fill: #2ECC71;
 
}
.sitio27:hover path {
    fill: #2ECC71;
}
.sitio26:hover path {
    fill: #2ECC71;
}
.sitio25:hover path {
    fill: #2ECC71;
}
.sitio24:hover path {
    fill: #2ECC71;
}
.sitio23:hover path {
    fill: #2ECC71;
}
.sitio22:hover path {
    fill: #2ECC71;
}
.sitio21:hover path {
    fill: #2ECC71;
}
.sitio20:hover path {
    fill: #2ECC71;
}
.sitio19:hover path {
    fill: #2ECC71;
}
.sitio18:hover path {
    fill: #2ECC71;
}
.sitio17:hover path {
    fill: #2ECC71;
}
.sitio16:hover path {
    fill: #2ECC71;
}
.sitio15:hover path {
    fill: #2ECC71;
}
.sitio14:hover path {
    fill: #2ECC71;
}
.sitio13:hover path {
    fill: #2ECC71;
}
.sitio12:hover path {
    fill: #2ECC71;
}
.sitio11:hover path {
    fill: #2ECC71;
}
.sitio10:hover path {
    fill: #2ECC71;
}
.sitio9:hover path {
    fill: #2ECC71;
}
.sitio8:hover path {
    fill: #2ECC71;
}
.sitio7:hover path {
    fill: #2ECC71;
}
.sitio6:hover path {
    fill: #2ECC71;
}
.sitio5:hover path {
    fill: #2ECC71;
}
.sitio4:hover path {
    fill: #2ECC71;
}
.sitio3:hover path {
    fill: #2ECC71;
}
.sitio2:hover path {
    fill: #2ECC71;
}
.sitio1:hover path {
    fill: #2ECC71;
}